<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""><img src="../../../favicon.ico"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="posts">Player Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="stats">Season Basic Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="advancedstats">Advanced Stats</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom-design navbar-background-color">
  <div class="container-fluid">
    <img src="../../../favicon.ico">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item navbar-custom-text">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item navbar-custom-text">
          <a class="nav-link" href="posts">Player Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seasonal stats
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->