.card-style {
    width: 99%;
    height: fit-content;
    padding: 10px 10px 1px 10px;
    margin: 10px 10px 1px 10px;
    display: flex;
    justify-content: space-evenly; 
}

.row-flexbox {
    display: flex;
}

.center {
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 3% 25% 0% 25%;
}

.padding {
    padding:  1% 50px 1% 50px;
}

.align-center {
    align-items: center;
    margin-top: 15px;
}

.align-center-button {
    display: flex;
    align-items: center;
}

.chart-card {
    width: 99%;
    height: 77%;
    padding: 10px 10px 1px 10px;
    margin: 10px 10px 1px 10px;
}